<a href="/dashboard">&larr; Back </a>
<div class="admin-title">
    <h2>Add New Post</h2>
</div>

<form action="/addPost" method="POST" class="add-post-form">
    <label for="title"> <b>Title</b></label>
    <input type="text" placeholder="Post title" name="title">

    <label for="body"> <b>Content</b></label>
    <textarea name="body" id="" cols="30" rows="10"></textarea>

    <input type="submit" value="Add" class="btn-add">

</form>